@charset "UTF-8";
/*Apparition de la page d'acceuil après le loader*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
@keyframes page-appearance {
  0% {
    transform: translateY(-9999px);
  }
  99% {
    transform: translateY(-9999px);
  }
  100% {
    transform: translateY(0px);
  }
}
/*Animation du loader*/
@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader-disappearance {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(-9999px);
  }
}
/*Appartition des cartes menus au chargement de la page*/
@keyframes meal-card-animation {
  0% {
    transform: translateY(15px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/*Rogage du texte des plats*/
@keyframes meal-text-crop {
  0% {
    width: auto;
  }
  20% {
    max-width: 280px;
    max-height: 19px;
  }
  40% {
    max-width: 260px;
  }
  60% {
    max-width: 240px;
  }
  80% {
    max-width: 220px;
  }
  100% {
    max-width: 200px;
    max-height: 19px;
  }
}
/*Animation du coeur*/
@keyframes heart-animation {
  0% {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  10% {
    background: linear-gradient(to top, #9356dc, transparent 10%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  20% {
    background: linear-gradient(to top, #9356dc, transparent 20%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  30% {
    background: linear-gradient(to top, #9356dc, transparent 30%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  40% {
    background: linear-gradient(to top, #9356dc, transparent 40%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  50% {
    background: linear-gradient(to top, #9356dc, transparent 50%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  60% {
    background: linear-gradient(to top, #9356dc, transparent 60%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  70% {
    background: linear-gradient(to top, #9356dc, transparent 70%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  80% {
    background: linear-gradient(to top, #9356dc, transparent 80%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  90% {
    background: linear-gradient(to top, #9356dc, transparent);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  100% {
    color: #9356dc;
    -webkit-text-stroke: 2px #9356dc;
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

header {
  text-align: center;
  width: auto;
  animation: page-appearance 1.5s linear;
}
header .logo-header {
  margin: 20px;
  width: 60%;
}
header .header-mark {
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
  font-weight: bold;
}
header .header-mark__icon {
  align-self: center;
  padding-right: 15px;
  font-size: 20px;
  color: #353535;
}
header .header-body {
  background-color: #f6f6f6;
}
header .header-body__title {
  margin: 0 20px 20px 10px;
  padding-top: 30px;
}
header .header-body__text {
  margin-right: 22px;
  margin-left: 22px;
  font-size: 20px;
}
@media (min-width: 1024px) {
  header .logo-header {
    width: auto;
  }
}

article h1 {
  text-align: left;
  padding-left: 20px;
}

.article-card {
  display: flex;
  background-color: #f6f6f6;
  margin: 25px;
  border-radius: 15px;
}
.article-card__icon {
  align-self: center;
  padding: 22px;
  color: #7e7e7e;
}
.article-card__text {
  font-size: 17px;
  align-self: center;
  font-weight: bold;
}

/*Loader de la page d'acceuil*/
section {
  display: flex;
  justify-content: center;
  position: relative;
  top: -100px;
  left: -20px;
  animation: loader-disappearance 1.5s linear;
  animation-fill-mode: forwards;
  /*Centrage du loader suivant la taille de la fenêtre*/
}
section .loader {
  text-align: center;
  border: 25px solid #f3f3f3;
  border-top: 25px solid #9356dc;
  border-radius: 90%;
  width: 200px;
  height: 200px;
  animation: loader-spin 1s linear infinite;
}
@media (min-width: 1024px) and (max-width: 1440px) {
  section {
    top: -140px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  section {
    top: -150px;
    left: 0px;
  }
}
@media (min-width: 425px) and (max-width: 768px) {
  section {
    top: -150px;
    left: 10px;
  }
}
@media (max-width: 425px) {
  section {
    top: -170px;
    left: 0px;
  }
}

/*Partie Fonctionnement*/
article {
  animation: page-appearance 1.5s linear;
  margin-top: -250px;
  /*Ajustements de la version dekstop*/
}
article .article-card {
  box-shadow: 2px 2px 10px #d4d4d4;
  height: 80px;
}
article .article-card i {
  font-size: 22px;
}
article .article-card:hover {
  background-color: #f5edff;
}
article .article-card:hover i {
  color: #9356dc;
}
article .article-card__number {
  font-size: 15px;
  color: white;
  background-color: #9356dc;
  border-radius: 90%;
  padding: 6px 10px 6px 10px;
  align-self: center;
  position: relative;
  left: -10px;
}
@media (min-width: 1024px) {
  article {
    display: flex;
    flex-wrap: wrap;
  }
  article h1 {
    display: block;
    width: 100%;
  }
  article .article-card {
    width: 30%;
    margin: auto;
    margin-bottom: 40px;
  }
}

/*Cartes renvoyant aux différents restaurants*/
main {
  background-color: #f6f6f6;
  padding-bottom: 50px;
  animation: page-appearance 1.5s linear;
  /*Ajustements de la version dekstop*/
  /*Rapprochement de l'icone coeur sur le bord droit des cartes restaurant*/
}
main h1 {
  text-align: left;
  padding-left: 20px;
  padding-top: 50px;
}
main a {
  text-decoration: none;
  color: black;
}
main a figure {
  margin: 0 20px 0 20px;
  background-color: white;
  box-shadow: 5px 5px 10px #dddddd;
  border-radius: 20px;
  height: 320px;
  overflow: hidden;
  margin-bottom: 15px;
  position: relative;
}
main a figure .new {
  color: #008766;
  background-color: #99e2d0;
  text-align: center;
  height: 25px;
  width: 100px;
  padding-top: 8px;
  font-weight: bold;
  border-radius: 2px;
  position: absolute;
  top: 15px;
  right: 15px;
}
main a figure div {
  height: 240px;
}
main a figure div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main a figure figcaption {
  display: flex;
  text-align: left;
  margin-left: 15px;
}
main a figure figcaption .figcaption-text {
  flex-direction: column;
  margin-top: 15px;
}
main a figure figcaption h2 {
  font-size: 18px;
  margin: 0;
  margin-bottom: 2px;
}
main a figure figcaption p {
  margin: 0;
}
main a figure figcaption i {
  font-size: 30px;
  margin-top: 20px;
  position: absolute;
  right: 40px;
  color: white;
  -webkit-text-stroke: 2px black;
}
main a figure figcaption i:hover {
  animation: heart-animation 0.5s linear;
  animation-fill-mode: forwards;
}
@media (min-width: 1024px) {
  main {
    flex-wrap: wrap;
    display: flex;
  }
  main h1 {
    display: block;
    width: 100%;
  }
  main a {
    width: 47%;
    margin: auto;
    margin-bottom: 40px;
  }
  main a figure {
    margin: 0;
  }
}
@media (max-width: 425px) {
  main a figure figcaption i {
    right: 20px;
  }
}

footer {
  background-color: #353535;
  color: white;
  text-align: left;
  padding: 20px 0 20px 20px;
}
footer .footer-title {
  font-family: "Shrikhand";
  font-size: 20px;
  margin-bottom: 15px;
}
footer div i {
  font-size: 12px;
  align-self: center;
  margin-right: 10px;
}
footer div p {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 30px;
}
footer div a {
  text-decoration: none;
  color: white;
  display: flex;
}
@media (min-width: 1024px) {
  footer {
    display: flex;
    padding: 50px 0 50px 30px;
  }
  footer .footer-title {
    font-size: 40px;
    margin: 0;
    align-self: center;
  }
  footer div {
    margin: auto;
  }
  footer div p {
    align-self: center;
  }
}

.header-body__button {
  padding: 20px;
  margin-bottom: 50px;
  font-family: "Roboto";
  font-size: 20px;
  box-shadow: 2px 2px 5px grey;
  border-radius: 30px;
  border: none;
  color: white;
  background: linear-gradient(#ff79da, #9356dc);
}
.header-body__button:hover {
  background: linear-gradient(#ff93e1, #a16be0);
  box-shadow: 5px 5px 10px grey;
  transition: 0.5s;
  cursor: pointer;
}

.menu-button {
  text-align: center;
}
.menu-button button {
  font-size: 20px;
  padding: 15px 40px 15px 40px;
  margin-top: 30px;
  margin-bottom: 60px;
  border-radius: 30px;
  border: none;
  box-shadow: 2px 2px 5px grey;
  color: white;
  background: linear-gradient(#ff79da, #9356dc);
}
.menu-button button:hover {
  background: linear-gradient(#ff93e1, #a16be0);
  box-shadow: 5px 5px 10px grey;
  transition: 0.5s;
  cursor: pointer;
}
@media (min-width: 1024px) {
  .menu-button {
    display: block;
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
