@charset "UTF-8";
/*Apparition de la page d'acceuil après le loader*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
@keyframes page-appearance {
  0% {
    transform: translateY(-9999px);
  }
  99% {
    transform: translateY(-9999px);
  }
  100% {
    transform: translateY(0px);
  }
}
/*Animation du loader*/
@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader-disappearance {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(-9999px);
  }
}
/*Appartition des cartes menus au chargement de la page*/
@keyframes meal-card-animation {
  0% {
    transform: translateY(15px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/*Animation du coeur*/
@keyframes heart-animation {
  0% {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  10% {
    background: linear-gradient(to top, #9356dc, transparent 10%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  20% {
    background: linear-gradient(to top, #9356dc, transparent 20%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  30% {
    background: linear-gradient(to top, #9356dc, transparent 30%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  40% {
    background: linear-gradient(to top, #9356dc, transparent 40%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  50% {
    background: linear-gradient(to top, #9356dc, transparent 50%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  60% {
    background: linear-gradient(to top, #9356dc, transparent 60%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  70% {
    background: linear-gradient(to top, #9356dc, transparent 70%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  80% {
    background: linear-gradient(to top, #9356dc, transparent 80%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  90% {
    background: linear-gradient(to top, #9356dc, transparent);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  100% {
    color: #9356dc;
    -webkit-text-stroke: 2px #9356dc;
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

.background {
  background-image: url("../../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 270px;
  /*Changements background version Desktop*/
  /*Changements background version tablette*/
  /*Ajustements centrage image plat*/
}
@media (min-width: 1024px) {
  .background {
    background-size: 60%;
    background-position-y: 80px;
    background-position-x: -50px;
    height: 950px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .background {
    background-size: 50%;
    margin-top: -94px;
    background-position-x: right;
  }
}
@media (min-width: 660px) and (max-width: 767px) {
  .background {
    background-position-y: -200px;
  }
}
@media (min-width: 520px) and (max-width: 659px) {
  .background {
    background-position-y: -100px;
  }
}

main {
  background-color: #f6f6f6;
  padding-top: 20px;
  border-radius: 30px 30px 0 0;
  margin-top: -25px;
  /*Ajustement espacement nom restaurant avec haut de la pgae*/
  /*Ajustements chevauchement main avec background*/
  /*Changements version tablette*/
}
main .main-title {
  display: flex;
}
main .main-title h1 {
  font-family: "Shrikhand";
  margin-left: 20px;
  font-size: 28px;
}
main .main-title i {
  font-size: 25px;
  align-self: center;
  margin-left: 65px;
  color: #f6f6f6;
  -webkit-text-stroke: 2px black;
}
main .main-title i:hover {
  cursor: pointer;
  animation: heart-animation 0.5s linear;
  animation-fill-mode: forwards;
}
@media (min-width: 1024px) {
  main {
    border-radius: 0;
    margin-top: -1090px;
    margin-left: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
  }
  main .main-title {
    width: 100%;
    justify-content: center;
  }
}
@media (min-width: 1024px) and (max-width: 1520px) {
  main {
    padding-top: 50px;
  }
}
@media (max-width: 425px) {
  main .main-title i {
    margin-left: 15%;
  }
}
@media (min-width: 345px) and (max-width: 385px) {
  main {
    margin-top: -55px;
  }
  main .main-title h1 {
    font-size: 25px;
  }
}
@media (min-width: 320px) and (max-width: 344px) {
  main {
    margin-top: -75px;
  }
  main .main-title h1 {
    font-size: 22px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  main {
    border-radius: 0;
  }
}

.meal h2 {
  margin-left: 20px;
  text-transform: uppercase;
  font-weight: lighter;
}
.meal-title-border {
  border-bottom: #99e2d0 4px solid;
  width: 60px;
  padding-bottom: 5px;
}
@media (min-width: 1024px) {
  .meal {
    margin: auto;
  }
}

.meal-card {
  margin: 0 20px 0 20px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 2px 2px 10px #b6b6b6;
  opacity: 0;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  animation: meal-card-animation 0.2s linear;
  animation-fill-mode: both;
  /*Ajustements animation rognage du texte cartes menus*/
}
.meal-card h3 {
  margin: 0 0 0 20px;
  padding-top: 15px;
}
.meal-card__text {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
}
.meal-card__text--bold {
  font-weight: bold;
  padding-right: 20px;
  transition: transform 0.5s linear;
}
.meal-card__text--crop {
  max-width: 305px;
  transition: 0.5s linear;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.meal-card p {
  margin: 5px 0 15px 0;
}
.meal-card02 {
  animation: meal-card-animation 0.3s 0.15s linear;
  animation-fill-mode: forwards;
}
.meal-card03 {
  animation: meal-card-animation 0.3s 0.3s linear;
  animation-fill-mode: forwards;
}
.meal-card04 {
  animation: meal-card-animation 0.3s 0.45s linear;
  animation-fill-mode: forwards;
}
.meal-card-animation {
  background-color: #99e2d0;
  border-radius: 0 15px 15px 0;
  width: 100px;
  height: 77px;
  display: flex;
  position: absolute;
  right: -100px;
  top: 0;
  transition: transform 0.5s linear;
}
.meal-card-animation i {
  color: #99e2d0;
  background-color: white;
  border-radius: 50%;
  padding: 8px;
  font-size: 22px;
  align-self: center;
  margin: auto;
  transform: rotate(0turn);
  transition: transform 0.5s ease-in-out 50ms;
}
.meal-card:hover > .meal-card-animation {
  transform: translateX(-100px);
}
.meal-card:hover > .meal-card-animation > i {
  transform: rotate(1turn);
}
.meal-card:hover > .meal-card__text > .meal-card__text--bold {
  transform: translateX(-100px);
}
.meal-card:hover > div > .meal-card__text--crop {
  max-width: 220px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (min-width: 1024px) {
  .meal-card {
    width: 390px;
  }
}
@media (min-width: 515px) and (max-width: 1024px) {
  .meal-card:hover > div > .meal-card__text--crop {
    max-width: 500px;
  }
}
@media (min-width: 490px) and (max-width: 514px) {
  .meal-card:hover > div > .meal-card__text--crop {
    max-width: 283px;
  }
}
@media (min-width: 470px) and (max-width: 489px) {
  .meal-card:hover > div > .meal-card__text--crop {
    max-width: 265px;
  }
}
@media (min-width: 450px) and (max-width: 469px) {
  .meal-card:hover > div > .meal-card__text--crop {
    max-width: 240px;
  }
}
@media (min-width: 435px) and (max-width: 449px) {
  .meal-card:hover > div > .meal-card__text--crop {
    max-width: 230px;
  }
}
@media (min-width: 420px) and (max-width: 434px) {
  .meal-card:hover > div > .meal-card__text--crop {
    max-width: 212px;
  }
}
@media (min-width: 400px) and (max-width: 419px) {
  .meal-card:hover > div > .meal-card__text--crop {
    max-width: 190px;
  }
}
@media (min-width: 400px) and (max-width: 449px) {
  .meal-card__text--crop {
    font-size: 14px;
  }
  .meal-card h3 {
    font-size: 17px;
  }
}
@media (min-width: 370px) and (max-width: 399px) {
  .meal-card h3 {
    font-size: 16px;
  }
  .meal-card__text--crop {
    font-size: 14px;
  }
  .meal-card:hover > div > .meal-card__text--crop {
    max-width: 170px;
  }
}
@media (min-width: 350px) and (max-width: 369px) {
  .meal-card h3 {
    font-size: 14px;
  }
  .meal-card__text--crop {
    font-size: 12.8px;
  }
  .meal-card:hover > div > .meal-card__text--crop {
    max-width: 145px;
  }
}
@media (max-width: 349px) {
  .meal-card h3 {
    font-size: 12px;
  }
  .meal-card__text--crop {
    font-size: 11px;
  }
  .meal-card:hover > div > .meal-card__text--crop {
    max-width: 115px;
  }
  .meal-card-animation {
    height: 67px;
  }
}
@media (max-width: 399px) {
  .meal-card:hover > div > .meal-card__text--bold {
    transform: translateX(-75px);
  }
  .meal-card-animation {
    width: 75px;
  }
  .meal-card__text--bold {
    font-size: 13px;
  }
  .meal-card__text--crop {
    transition: 0.5s ease-out;
  }
}

footer {
  background-color: #353535;
  color: white;
  text-align: left;
  padding: 20px 0 20px 20px;
}
footer .footer-title {
  font-family: "Shrikhand";
  font-size: 20px;
  margin-bottom: 15px;
}
footer div i {
  font-size: 12px;
  align-self: center;
  margin-right: 10px;
}
footer div p {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 30px;
}
footer div a {
  text-decoration: none;
  color: white;
  display: flex;
}
@media (min-width: 1024px) {
  footer {
    display: flex;
    padding: 50px 0 50px 30px;
  }
  footer .footer-title {
    font-size: 40px;
    margin: 0;
    align-self: center;
  }
  footer div {
    margin: auto;
  }
  footer div p {
    align-self: center;
  }
}

.header-banniere {
  display: flex;
  /*Changements header version Desktop*/
  /*Changements header version tablette*/
}
.header-banniere a {
  align-self: center;
  font-size: 20px;
  margin-left: 20px;
  margin-right: 45px;
  color: black;
}
.header-banniere .logo-header {
  margin: 20px;
  width: 50%;
}
@media (min-width: 1024px) {
  .header-banniere {
    width: 50%;
    position: relative;
    top: 30px;
    left: 50px;
  }
  .header-banniere i {
    font-size: 50px;
  }
  .header-banniere .logo-header {
    width: 60%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .header-banniere {
    width: 50%;
    position: relative;
    top: 70px;
  }
  .header-banniere a {
    font-size: 35px;
  }
  .header-banniere .logo-header {
    width: 70%;
    margin: 0;
  }
}
@media (max-width: 375px) {
  .header-banniere a {
    margin-right: 9%;
  }
}

.header-body__button {
  padding: 20px;
  margin-bottom: 50px;
  font-family: "Roboto";
  font-size: 20px;
  box-shadow: 2px 2px 5px grey;
  border-radius: 30px;
  border: none;
  color: white;
  background: linear-gradient(#ff79da, #9356dc);
}
.header-body__button:hover {
  background: linear-gradient(#ff93e1, #a16be0);
  box-shadow: 5px 5px 10px grey;
  transition: 0.5s;
  cursor: pointer;
}

.menu-button {
  text-align: center;
}
.menu-button button {
  font-size: 20px;
  padding: 15px 40px 15px 40px;
  margin-top: 30px;
  margin-bottom: 60px;
  border-radius: 30px;
  border: none;
  box-shadow: 2px 2px 5px grey;
  color: white;
  background: linear-gradient(#ff79da, #9356dc);
}
.menu-button button:hover {
  background: linear-gradient(#ff93e1, #a16be0);
  box-shadow: 5px 5px 10px grey;
  transition: 0.5s;
  cursor: pointer;
}
@media (min-width: 1024px) {
  .menu-button {
    display: block;
    width: 100%;
  }
}

/*# sourceMappingURL=style_menu_delice.css.map */
