@charset "UTF-8";
/*Apparition de la page d'acceuil après le loader*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
@keyframes page-appearance {
  0% {
    transform: translateY(-9999px);
  }
  99% {
    transform: translateY(-9999px);
  }
  100% {
    transform: translateY(0px);
  }
}
/*Animation du loader*/
@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader-disappearance {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(-9999px);
  }
}
/*Appartition des cartes menus au chargement de la page*/
@keyframes meal-card-animation {
  0% {
    transform: translateY(15px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/*Rogage du texte des plats*/
@keyframes meal-text-crop {
  0% {
    width: auto;
  }
  20% {
    max-width: 280px;
    max-height: 19px;
  }
  40% {
    max-width: 260px;
  }
  60% {
    max-width: 240px;
  }
  80% {
    max-width: 220px;
  }
  100% {
    max-width: 200px;
    max-height: 19px;
  }
}
/*Animation du coeur*/
@keyframes heart-animation {
  0% {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  10% {
    background: linear-gradient(to top, #9356dc, white 10%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  20% {
    background: linear-gradient(to top, #9356dc, white 20%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  30% {
    background: linear-gradient(to top, #9356dc, white 30%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  40% {
    background: linear-gradient(to top, #9356dc, white 40%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  50% {
    background: linear-gradient(to top, #9356dc, white 50%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  60% {
    background: linear-gradient(to top, #9356dc, white 60%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  70% {
    background: linear-gradient(to top, #9356dc, white 70%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  80% {
    background: linear-gradient(to top, #9356dc, white 80%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  90% {
    background: linear-gradient(to top, #9356dc, white);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  100% {
    color: #9356dc;
    -webkit-text-stroke: 2px #9356dc;
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

.background {
  background-image: url("../../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-size: 110%;
  background-repeat: no-repeat;
  height: 280px;
}

main {
  background-color: #f6f6f6;
  padding-top: 20px;
  border-radius: 30px 30px 0 0;
  margin-top: -25px;
}
main .main-title {
  display: flex;
}
main .main-title h1 {
  font-family: "Shrikhand";
  margin-left: 20px;
  font-size: 28px;
}
main .main-title i {
  font-size: 25px;
  align-self: center;
  margin-left: 65px;
}
@media (min-width: 1024px) {
  main {
    display: flex;
    flex-wrap: wrap;
  }
  main .main-title {
    width: 100%;
  }
}

.meal h2 {
  margin-left: 20px;
  text-transform: uppercase;
  font-weight: lighter;
}
.meal-title-border {
  border-bottom: #99e2d0 4px solid;
  width: 60px;
  padding-bottom: 5px;
}
@media (min-width: 1024px) {
  .meal {
    width: 32%;
    margin: auto;
  }
}

.meal-card {
  margin: 0 20px 0 20px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 2px 2px 10px #b6b6b6;
  opacity: 0;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  animation: meal-card-animation 0.2s linear;
  animation-fill-mode: both;
}
.meal-card h3 {
  margin: 0 0 0 20px;
  padding-top: 15px;
}
.meal-card__text {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
}
.meal-card__text--bold {
  font-weight: bold;
  padding-right: 20px;
  transition: transform 0.5s linear;
}
.meal-card p {
  margin: 5px 0 15px 0;
}
.meal-card02 {
  animation: meal-card-animation 0.3s 0.15s linear;
  animation-fill-mode: forwards;
}
.meal-card03 {
  animation: meal-card-animation 0.3s 0.3s linear;
  animation-fill-mode: forwards;
}
.meal-card04 {
  animation: meal-card-animation 0.3s 0.45s linear;
  animation-fill-mode: forwards;
}
.meal-card-animation {
  background-color: #99e2d0;
  border-radius: 0 15px 15px 0;
  width: 100px;
  height: 87px;
  display: flex;
  position: absolute;
  right: -100px;
  top: 0;
  transition: transform 0.5s linear;
}
.meal-card-animation i {
  color: #99e2d0;
  background-color: white;
  border-radius: 50%;
  padding: 8px;
  font-size: 22px;
  align-self: center;
  margin: auto;
  transform: rotate(0turn);
  transition: transform 0.5s ease-in-out 50ms;
}
.meal-card:hover > .meal-card-animation {
  transform: translateX(-100px);
}
.meal-card:hover > .meal-card-animation > i {
  transform: rotate(1turn);
}
.meal-card:hover > .meal-card__text > .meal-card__text--bold {
  transform: translateX(-100px);
}
@media (max-width: 500px) {
  .meal-card:hover > div > p {
    animation: meal-text-crop 0.5s linear 75ms;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    animation-fill-mode: forwards;
  }
}

footer {
  background-color: #353535;
  color: white;
  text-align: left;
  padding: 20px 0 20px 20px;
}
footer .footer-title {
  font-family: "Shrikhand";
  font-size: 20px;
  margin-bottom: 15px;
}
footer div {
  display: flex;
}
footer div i {
  font-size: 12px;
  align-self: center;
  margin-right: 10px;
}
footer div p {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 30px;
}
footer div a {
  text-decoration: none;
  color: white;
}
@media (min-width: 1024px) {
  footer {
    display: flex;
    padding: 50px 0 50px 30px;
  }
  footer .footer-title {
    font-size: 40px;
    margin: 0;
    align-self: center;
  }
  footer div {
    margin: auto;
  }
  footer div p {
    align-self: center;
  }
}

.header-banniere {
  display: flex;
}
.header-banniere a {
  align-self: center;
  font-size: 20px;
  margin-left: 20px;
  margin-right: 45px;
  color: black;
}
.header-banniere .logo-header {
  margin: 20px;
  width: 50%;
}
@media (min-width: 1024px) {
  .header-banniere i {
    font-size: 40px;
  }
  .header-banniere .logo-header {
    width: auto;
  }
}

.header-body__button {
  padding: 20px;
  margin-bottom: 50px;
  font-family: "Roboto";
  font-size: 20px;
  box-shadow: 2px 2px 5px grey;
  border-radius: 30px;
  border: none;
  color: white;
  background: linear-gradient(#ff79da, #9356dc);
}
.header-body__button:hover {
  background: linear-gradient(#ff93e1, #a16be0);
  box-shadow: 5px 5px 10px grey;
  transition: 0.5s;
  cursor: pointer;
}

.menu-button {
  text-align: center;
}
.menu-button button {
  font-size: 20px;
  padding: 15px 40px 15px 40px;
  margin-top: 30px;
  margin-bottom: 60px;
  border-radius: 30px;
  border: none;
  box-shadow: 2px 2px 5px grey;
  color: white;
  background: linear-gradient(#ff79da, #9356dc);
}
.menu-button button:hover {
  background: linear-gradient(#ff93e1, #a16be0);
  box-shadow: 5px 5px 10px grey;
  transition: 0.5s;
  cursor: pointer;
}
@media (min-width: 1024px) {
  .menu-button {
    margin: auto;
  }
}

/*# sourceMappingURL=style_menu_palette.css.map */
