/*Appartition des cartes menus au chargement de la page*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
@keyframes meal-card-animation {
  0% {
    transform: translateY(15px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/*Animation du coeur*/
@keyframes heart-animation {
  0% {
    color: black;
  }
  100% {
    color: #9356dc;
  }
}
@keyframes page-appearance {
  0% {
    transform: translateY(9999px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

header {
  text-align: center;
  width: auto;
}
header .logo-header {
  margin: 20px;
  width: 60%;
}
header .header-mark {
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
}
header .header-mark__icon {
  align-self: center;
  padding-right: 15px;
  font-size: 20px;
  color: #353535;
}
header .header-body {
  background-color: #f6f6f6;
}
header .header-body__title {
  margin: 0 20px 20px 10px;
  padding-top: 30px;
}
header .header-body__text {
  margin-right: 22px;
  margin-left: 22px;
  font-size: 20px;
}

article h1 {
  text-align: left;
  padding-left: 20px;
}

.article-card {
  display: flex;
  background-color: #f6f6f6;
  margin: 25px;
  border-radius: 15px;
}
.article-card__icon {
  align-self: center;
  padding: 22px;
  color: #7e7e7e;
}
.article-card__text {
  font-size: 17px;
  align-self: center;
  font-weight: bold;
}

main {
  background-color: #f6f6f6;
  padding-bottom: 50px;
}
main a {
  text-decoration: none;
  color: black;
}
main h1 {
  text-align: left;
  padding-left: 20px;
  padding-top: 50px;
}

article .article-card {
  box-shadow: 2px 2px 10px #d4d4d4;
}
article .article-card:hover {
  background-color: #f5edff;
}
article .article-card:hover i {
  color: #9356dc;
}

figure {
  margin: 0 20px 0 20px;
  background-color: white;
  box-shadow: 5px 5px 10px #dddddd;
  border-radius: 20px;
  height: 280px;
  overflow: hidden;
  margin-bottom: 15px;
  position: relative;
}
figure .new {
  color: #008766;
  background-color: #99e2d0;
  text-align: center;
  height: 25px;
  width: 100px;
  padding-top: 8px;
  font-weight: bold;
  border-radius: 2px;
  position: absolute;
  top: 15px;
  right: 15px;
}
figure div {
  height: 200px;
}
figure div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
figure figcaption {
  display: flex;
  text-align: left;
  margin-left: 15px;
}
figure figcaption .figcaption-text {
  flex-direction: column;
  margin-top: 15px;
}
figure figcaption h2 {
  font-size: 18px;
  margin: 0;
  margin-bottom: 2px;
}
figure figcaption p {
  margin: 0;
}
figure figcaption i {
  font-size: 30px;
  border-radius: 50%;
  margin-top: 20px;
  position: absolute;
  right: 40px;
}
figure figcaption i:hover {
  animation: heart-animation 1s linear;
  animation-fill-mode: forwards;
}

.loader {
  text-align: center;
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: loader-spin 2s linear infinite;
}

footer {
  background-color: #353535;
  color: white;
  text-align: left;
  padding: 20px 0 20px 20px;
}
footer .footer-title {
  font-family: "Shrikhand";
  font-size: 20px;
}
footer img {
  width: 30%;
}
footer div {
  display: flex;
}
footer div i {
  font-size: 12px;
  align-self: center;
  margin-right: 10px;
}
footer p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.header-body__button {
  padding: 20px;
  margin-bottom: 50px;
  font-family: "Roboto";
  font-size: 20px;
  box-shadow: 2px 2px 5px grey;
  border-radius: 30px;
  border: none;
  color: white;
  background: linear-gradient(#ff79da, #9356dc);
}
.header-body__button:hover {
  background: linear-gradient(#ff93e1, #a16be0);
  box-shadow: 5px 5px 10px grey;
  transition: 0.5s;
}

.menu-button {
  text-align: center;
}
.menu-button button {
  font-size: 20px;
  padding: 15px 40px 15px 40px;
  margin-top: 30px;
  margin-bottom: 90px;
  border-radius: 30px;
  border: none;
  box-shadow: 2px 2px 5px grey;
  color: white;
  background: linear-gradient(#ff79da, #9356dc);
}
.menu-button button:hover {
  background: linear-gradient(#ff93e1, #a16be0);
  box-shadow: 5px 5px 10px grey;
  transition: 0.5s;
}

/*# sourceMappingURL=style.css.map */
