.background {
    background-image: url('../../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg');
    background-size: 110%;
    background-repeat: no-repeat;
    height: 280px;
    /*Changements background version Desktop*/
    @media (min-width: $breakpoint-dekstop) {
        background-size: 65%;
        background-position-y: 80px;
        background-position-x: -50px;
        height: 980px;
    }
    /*Changements background version tablette*/
    @media (min-width: $breakpoint-tablet) and (max-width: 1023px) {
        background-size: 50%;
        margin-top: -94px;
        background-position-x: right;
    }
    /*Ajustements centrage image plat*/
    @media (min-width: 660px) and (max-width: $breakpoint-tablet) {
        background-position-y: -200px;
    }
    @media (min-width: 520px) and (max-width: 659px) {
        background-position-y: -100px;
    }
}

main {
    background-color: $color-background;
    padding-top: 20px;
    border-radius: 30px 30px 0 0;
    margin-top: -25px;
        .main-title {
            display: flex;
            h1 {
                font-family: 'Shrikhand';
                margin-left: 20px;
                font-size: 28px;
            }
            i {
                font-size: 25px;
                align-self: center;
                margin-left: 65px;
                color: $color-background;
                -webkit-text-stroke: 2px black;
                    &:hover {
                        cursor: pointer;
                        animation: heart-animation .5s linear;
                        animation-fill-mode: forwards;
                    }
            }
        }
    @media (min-width: $breakpoint-dekstop) {
        border-radius: 0;
        margin-left: 50%;
        margin-top: -1120px;
        display: flex; 
        flex-direction: row;
        flex-wrap: wrap;
        width: 50%;
            .main-title {
                width: 100%;
                justify-content: center;
            }
    }
    /*Ajsutement espacement nom restaurant avec haut de la pgae*/
    @media (min-width: $breakpoint-dekstop) and (max-width: 1520px) {
        padding-top: 50px;
    }
    /*Ajustements chevauchement main avec background*/
    @media (max-width: $breakpoint-mobile) {
        .main-title i {
            margin-left: 15%;
        }
    }
    @media (min-width: 345px) and (max-width: 385px) {
        margin-top: -55px;
            .main-title h1 {
                font-size: 25px;
            }
    }
    @media (min-width: 320px) and (max-width: 344px) {
        margin-top: -75px;
            .main-title h1 {
                font-size: 22px;
            }
    }
    /*Changements version tablette*/ 
    @media (min-width: $breakpoint-tablet) and (max-width: 1023px) {
        border-radius: 0;
    }
}

.meal {
    h2 {
    margin-left: 20px;
    text-transform: uppercase;
    font-weight: lighter;
    }
    &-title-border {
        border-bottom: $color-third 4px solid;
        width: 60px;
        padding-bottom: 5px;
    }
    @media (min-width: $breakpoint-dekstop) {
        margin: auto;
    }
}

.meal-card {
    margin: 0 20px 0 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgb(182, 182, 182);
    opacity: 0;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    animation: meal-card-animation .2s linear;
    animation-fill-mode: both;
        h3 {
            margin:0 0 0 20px;
            padding-top: 15px;
        }
        &__text {
            display: flex;
            justify-content: space-between;
            margin-left: 20px;
                &--bold {
                    font-weight: bold;
                    padding-right: 20px;
                    transition: transform .5s linear;
                }
                &--crop {
                    max-width: 305px;
                    transition: .5s linear;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
        }
        p {
            margin: 5px 0 15px 0;
        }
        &02 {
            animation: meal-card-animation .3s .15s linear;
            animation-fill-mode: forwards;
        }
        &03 {
            animation: meal-card-animation .3s .3s linear;
            animation-fill-mode: forwards;
        }
        &04 {
            animation: meal-card-animation .3s .45s linear;
            animation-fill-mode: forwards;
        }
        &-animation {
            background-color: $color-third;
            border-radius: 0 15px 15px 0;
            width: 100px;
            height: 77px;
            display: flex;
            position: absolute;
            right: -100px;
            top: 0;
            transition: transform .5s linear;
                i {
                    color: $color-third;
                    background-color: white;
                    border-radius: 50%;
                    padding: 8px;
                    font-size: 22px;
                    align-self: center;
                    margin: auto;
                    transform: rotate(0turn);
                    transition: transform .5s ease-in-out 50ms;
                }
        }
        &:hover > &-animation {
            transform: translateX(-100px);
        }
        &:hover > &-animation > i {
            transform: rotate(1turn);
        }
        &:hover > div > &__text--bold {
            transform: translateX(-100px);
        }
        &:hover > div > &__text--crop {
            max-width: 220px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    @media (min-width: $breakpoint-dekstop) {
        width: 390px;
    }
    /*Ajustements animation rognage du texte cartes menus*/
    @media (min-width: 515px) and (max-width: $breakpoint-dekstop) {
        &:hover > div > &__text--crop {
            max-width: 500px;
        }
    }
    @media (min-width: 490px) and (max-width: 514px) {
        &:hover > div > &__text--crop {
            max-width: 283px;
        }
    }
    @media (min-width: 470px) and (max-width: 489px) {
        &:hover > div > &__text--crop {
            max-width: 265px;
        }
    }
    @media (min-width: 450px) and (max-width: 469px) {
        &:hover > div > &__text--crop {
            max-width: 240px;
        }
    }
    @media (min-width: 435px) and (max-width: 449px) {
        &:hover > div > &__text--crop {
            max-width: 230px;
        }
    }
    @media (min-width: 420px) and (max-width: 434px) {
        &:hover > div > &__text--crop {
            max-width: 212px;
        }
    }
    @media (min-width: 400px) and (max-width: 419px) {
        &:hover > div > &__text--crop {
            max-width: 190px;
        }
    }
        @media (min-width: 400px) and (max-width: 449px) {
        &__text--crop {
            font-size: 14px;
        }
        h3 {
            font-size: 17px;
        }
    }
    @media (min-width: 370px) and (max-width: 399px) {
        h3 {
            font-size: 16px;
        }
        &__text--crop {
            font-size: 14px;
        }
        &:hover > div > &__text--crop {
            max-width: 190px;
        }
    }
    @media (min-width: 350px) and (max-width: 369px) {
        h3 {
            font-size: 14.5px;
        }
        &__text--crop {
            font-size: 12.8px;
        }
        &:hover > div > &__text--crop {
            max-width: 165px;
        }
    }
    @media (max-width: 349px) {
        h3 {
            font-size: 12.5px;
        }
        &__text--crop {
            font-size: 11px;
        }
        &:hover > div > &__text--crop {
            max-width: 140px;
        }
        &-animation {
            height: 67px;
        }
    }
    @media (max-width: 399px) {
        &:hover > div > &__text--bold {
            transform: translateX(-75px);
        }
        &-animation {
            width: 75px;
        }
        &__text--bold {
            font-size: 13px;
        }
        &__text--crop {
            transition: .5s ease-out;
        }
    }
}