.header-banniere {
    display: flex;
        i {
            align-self: center;
            font-size: 20px;
            margin-left: 20px;
            margin-right: 45px;
        }
        .logo-header {
            margin: 20px;
            width: 50%;
        }
}