article h1 { 
    text-align: left;
    padding-left: 20px;
}

.article-card {
    display: flex;
    background-color: $color-background;
    margin: 25px;
    border-radius: 15px;
        &__icon {
            align-self: center;
            padding: 22px;
            color: $color-header-body-icon;
        }
        &__text {
            font-size: 17px;
            align-self: center;
            font-weight: bold;
        }
}